.emojiWrapper {
  background-color: rgb(211, 192, 178);
  min-height: 100vh;
  padding: 5px;
}
.emojiNav {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.emojiHeader {
  margin-left: 20px;
  font-size: 20px;
}
.emojiContainerWrapper {
  margin-top: 40px;
}
.closeEmoji {
}
