.categoryContainer {
  background-color: #312315;
  // background-color: rgb(118, 102, 91);
  min-height: 100vh;
}
.categories {
  background-color: #fff;
  margin-top: 30px;
}
.Category {
  border-bottom: solid 1px rgb(224, 224, 224);
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
}
.categoryTitle {
  font-size: 20px;
  font-weight: 600;
  color: rgb(68, 51, 37);
  margin-left: 10px;
  width: 100%;
}
.categoryIcon {
  font-size: 20px;
}
.noCategoryUI {
  height: 100vh;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: rgb(228, 228, 228);
}
.categoryMessageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.addCategoryBtn {
  padding: 10px;
  margin-top: 30px;
  width: 200px;
  border-radius: 10px;
  border: none;
  height: 50px;
  font-size: 20px;
  background-color: #fff;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgb(94, 50, 19);
  // color: #fff;
}
