.categoryContainer {
  background-color: rgb(177, 145, 145);
  min-height: 100vh;
}
.categoryNav {
}
.categories {
  background-color: #fff;
}
.Category {
  border-bottom: solid 1px grey;
  padding: 10px;
}
