.incomeExpenseWrapper {
  background-color: rgb(37, 34, 34);
  min-height: 100vh;
  color: #fff;
  padding-top: 20px;
}
.incomeExpenseInnerWrapper {
  width: 90%;
  margin: 20px auto;
}
.incomeWrapper,
.expenseHeader,
.balanceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.expenseCategories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.dottedLine {
  width: 100%;
  border-bottom: dotted 3px #fff;
  width: 90%;
  margin: 10px auto;
}
.incomeAmount {
  color: rgb(127, 255, 127);
}
.expenseAmount {
  color: rgb(218, 39, 39);
}
.balanceAmount {
  color: skyblue;
}
.btnWrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add {
  margin-right: 10px;
}
.btnTransparent {
  width: 100px;
  padding: 5px 10px;
  color: #fff;
  font-size: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #fff;
  border-radius: 10px;
  text-decoration: none;
}
.ProgressBarWrapper {
  width: 80%;
  margin: 0 auto;
}
.completedBar,
.barContainer {
  border-radius: 100px;
}
.barContainer {
  background-color: red;
  border-radius: 100px;
}
.completedBar {
  background-color: rgb(127, 255, 127);
}
