.expenseDetailsWrapper {
  background-color: rgb(159, 156, 156);
  height: 100vh;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgb(255, 251, 251);
  color: chocolate;
}
.saveBtn {
  padding: 10px;
  width: 100px;
  color: chocolate;
  font-size: 20px;
  border-radius: 10px;
  border: solid 1px chocolate;
  background-color: transparent;
}
.detailsParentContainer {
  display: grid;
  justify-content: center;
  align-content: start;
  background-color: #fff;
  margin-top: 30px;
  padding: 10px;
}
.expenseDetailsContainer {
  display: grid;
  grid-template-columns: 140px 250px;
  justify-items: center;
  align-items: center;
  // margin-top: 100px;
}
.category,
.date,
.amount,
.note {
  color: rgb(0, 0, 129);
  width: 120px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: solid 1px rgb(204, 204, 204);
  border-right: solid 1px rgb(204, 204, 204);
  //   border-right: solid 1px rgb(204, 204, 204);
}
.date {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
}
.inputElement {
  padding: 10px;
  background-color: transparent;
  font-size: 18px;
  border: none;
  border-bottom: solid 1px rgb(204, 204, 204);
  // width: 100%;
}
.categoryLink {
  text-decoration: none;
  color: blue;
  border-bottom: solid 1px rgb(204, 204, 204);
  padding: 10px;
  // width: 100%;
  text-align: center;
  font-size: 18px;
}

.currentDate {
  padding: 10px;
  border-bottom: solid 1px rgb(204, 204, 204);
  width: 90%;
}
.category {
  border-bottom: solid 1px rgb(204, 204, 204);
}
.dateWrapper,
.categoryWrapper,
.amountWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detailsLeft {
  border-right: solid 1px rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detailsLeft,
.detailsRight {
  border-top: solid 1px rgb(204, 204, 204);
  font-size: 18px;
  height: 180px;
}
.detailsRight {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: start;
  // width: 180px;
}
.date,
.currentDate {
  padding: 10px;
}
.currentDate,
.inputElement {
  text-align: center;
  // padding: 10px;
}
.noteWrapper {
  background-color: #fff;
  display: grid;
  grid-template-columns: 140px 250px;
  width: 80%;
  margin: 50px auto;
  justify-items: center;
  align-items: center;
}
.textInput {
  padding: 10px;
  background-color: transparent;
  font-size: 18px;
  border: none;
  text-align: center;
}
.hidden {
  z-index: 0;
  visibility: hidden;
}
