.navComponentWrapper {
  background-color: rgb(253, 248, 248);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  font-size: 13px;
}
.navElement {
  display: flex;
  justify-content: space-between;
}
.navLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: rgb(95, 79, 79);
}
.navTitle {
}
.navIcon {
  font-size: 25px;
}
.dynamicAddBtnWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dynamicAddLink {
  text-decoration: none;
  font-size: 40px;
  background-color: transparent;
  border: none;
  color: chocolate;
}
