.navComponentWrapper {
  background-color: rgb(253, 248, 248);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  font-size: 13px;
}
.navElement {
  display: flex;
  justify-content: space-between;
}
.navLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: rgb(95, 79, 79);
}
.navTitle {
}
.navIcon {
  font-size: 25px;
}
.dynamicAddBtnWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.dynamicAddLink {
  text-decoration: none;
  font-size: 40px;
  background-color: transparent;
  border: none;
  color: rgb(39, 20, 7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.outlineMore {
  font-size: 30px;
  margin-left: 20px;
}
.moreOptionsWrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.list {
  list-style: none;
  margin: 10px 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  background-color: #fff;
  border-radius: 10px;
}
.linkItem {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.currencySymbolSelectionLink {
  text-decoration: none;
  color: rgb(80, 39, 10);
  font-size: 18px;
}
.closeUIwrapper {
  // width: 100%;
  padding: 10px;
  align-self: flex-end;
}
.closeUIIcon {
  font-size: 25px;
  color: black;
  // align-self: flex-end;
}
.hidden {
  display: none;
  visibility: hidden;
}
.shortCutWrapper {
  height: 100vh;
  background-color: green;
  // width: 100%;
}
